#map-canvas {
  height: 100%;
  margin: 0;
  padding: 0;
}

.route-leg {
  border-left: dotted 3px midnightblue;
  padding: 1em;
}

.route-details {
  background: #fff;
  display: inline-block;
  padding: 1em;
  margin: 1em;
  position: fixed;
  bottom: 150px;
}

.svg-ic_menu_24px-dims {
  width: 24px;
  height: 24px;
}

.svg-ic_arrow_back_24px-dims {
  width: 24px;
  height: 24px;
}

.svg-ic_map_24px-dims {
  width: 24px;
  height: 24px;
}
